@import url("https://fonts.googleapis.com/css2?family=UnifrakturMaguntia:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;500&display=swap");
html {
    scroll-behavior: smooth;
}
/*
div {
    border: 1px solid;
}
*/
body {
    background-image: url(background/pexels-zvolskiy-1570806.jpg);
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
    background-attachment: fixed;
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
    color: white;
}

.head {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.41);
    border-bottom: 1px solid #686A6C;
    backdrop-filter: blur(10px); /* само размытие */
  -webkit-backdrop-filter: blur(10px); /* для Safari */
}
.logo {
    background: linear-gradient(90deg, black 31%, rgba(255, 255, 255, 0) 100%);
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px;
    padding-left: 50px;
    font-size: 3rem;
    font-family: "UnifrakturMaguntia", sans-serif;
    text-shadow: 4px 4px 3px #686A6C;
    
}
.head1 {
    display: flex;
    padding-right: 50px;
    
}
.head2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;
    font-size: 1.3rem;
    font-family: "Oswald", sans-serif;
    font-weight: 300;
}
.head2 ul {
    list-style: none;
    display: flex;
    margin: 0;
}
.head2 ul li {
    padding: 5px;
    padding-inline: 15px;
    border-radius: 20px;
}

.head2 > a {
    margin-right: 23px;
    padding: 7px;
    padding-inline: 20px;

    
}
.head2 a::after,.head2 a::before {
  content: '';
  width: 0%;
  height: 2px;
  background: #686A6C;
  display: block;
  transition: 0.5s;
}

.head2 a:hover::after, a:hover::before {
  width: 100%;
}
.burger {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 23px;
    cursor: pointer;
    margin: 30px;
}
.burger span {
    height: 4px;
    background: white;
    border-radius: 2px;
}






.main1, .main2, .main3, .main4, .main5 {
    max-width: 1100px;
    margin: 0 auto;
    margin-top: 100px;
    padding: 50px;
    padding-top: 0;
    box-sizing: border-box;
    color: white;
      text-shadow:
    -1px -1px 0 black,
     1px -1px 0 black,
    -1px  1px 0 black,
     1px  1px 0 black;
    
    display: flex;
    flex-direction: column;
    align-items: center;

  backdrop-filter: blur(10px); /* само размытие */
  -webkit-backdrop-filter: blur(10px); /* для Safari */
    
    font-family: "Oswald", sans-serif;
    font-weight: 300;
    font-size: 1.3rem;
    box-shadow: 0 0 5px 2px #ffffff80;
} 
.main1 {
    gap: 50px;
}
.main1 a::after,.main1 a::before {
  content: '';
  width: 0%;
  height: 2px;
  background: #686A6C;
  display: block;
  transition: 0.5s;
}
.main1 a:hover::after, a:hover::before {
  width: 100%;
}
.table {
    width: 100%;              /* ширина таблицы */
  border-collapse: collapse; /* убирает двойные границы */
  margin: 0 0;            /* отступы */
}
th, td {
  border: 1px solid #ccc;  /* рамки */
  padding: 12px;           /* отступ внутри ячеек */
  text-align: left;        /* выравнивание текста */
}


.main3-2 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
}
.main3 .card {

  overflow: hidden;
  perspective: 1000px;
  box-shadow: 0 0 0 5px #ffffff80;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.main3 .card img {
  width: 100%;
    height: 100%;

  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    object-fit: cover;
}

.main3 .card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
}

.main3 .card__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(10px);
  transform: rotateX(-90deg);
  transform-origin: bottom;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.main3 .card:hover .card__content {
  transform: rotateX(0deg);
}

.main3 .card__title {
  margin: 0;
  font-size: 2rem;
  
  font-weight: 700;
}

.main3 .card:hover svg {
  scale: 0;
}

.main3 .card__description {
  margin: 10px 0 0;
  font-size: 1rem;

  line-height: 1.4;
}

.main4-2 {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.main4-2 .card {
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 10px;

    font-size: 1.2rem;
    box-shadow: 0 0 5px white;
}

.form {
  display: flex;
  flex-direction: column;
    align-items: center;
  gap: 1rem;
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 1em;
  background-color: #171717;
  transition: .4s ease-in-out;
}

.form:hover {
  transform: scale(1.05);
  border: 1px solid rgba(0, 0, 0, 0);
    box-shadow:  0 0 10px rgb(255, 255, 255);
}

#heading {
  text-align: center;
  margin-top: 2em;
  color: rgb(255, 255, 255);
  font-size: 1.2em;
}

.field {
    width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 0.6em;
  border: none;
  outline: none;
  color: white;
  background-color: #171717;
  box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
  
}


.input-field {
  background: none;
  border: none;
  outline: none;
  width: 100%;
  color: #d3d3d3;
}
.form > a {
    width: max-content;
    
    padding: 7px;
    padding-inline: 20px;
    border-radius: 20px;
 
    
}

.form a::after,.head2 a::before {
  content: '';
  width: 0%;
  height: 2px;
  background: #686A6C;
  display: block;
  transition: 0.5s;
}

.form a:hover::after, a:hover::before {
  width: 100%;
}
.footer1 {
    display: flex;
    flex-direction: column;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.41);
    border-top: 1px solid #686A6C;
    margin-top: 100px;
    color: white;
}
.footer1 p {
    margin: 8px;
    background: linear-gradient(90deg, black 10%, rgba(255, 255, 255, 0) 100%);
}
@media (max-width: 1080px) {
    .logo {
        padding: 0;
    padding-left: 50px;
    }
    .head1 {
  display: none;
  position: absolute;
  top: 65px;
  right: 10px;
  background-color: #000000;
  padding: 15px;
  box-shadow: 0 0 16px 5px #717171;
  z-index: 10;
       
  width: 250px; /* или сколько нужно */
}

.head1.active {
  display: flex;
  flex-direction: column;
}

.head2 {
  display: flex;
  flex-direction: column;
 
}

.head1 ul {
   
    text-align: center;
    width: 100%;
  display: flex;
  flex-direction: column;
padding-left: 0;
}
    .head1 ul li {
        border-bottom: 1px solid white;
    }

.menu-button {
 
  align-self: center; /* или flex-end/center — по вкусу */
}

.menu-button a {
  color: white;
  text-decoration: none;
  font-weight: bold;

  padding: 10px 20px;
 
}
    .burger {
        margin: 10px 30px;
        display: flex;
        flex-direction: column;
        gap: 4px;
        cursor: pointer;
        padding: 10px;
    }

    .burger span {
        width: 40px;
        height: 3px;
        background-color: white;
    }

    .main1,
    .main2,
    .main3,
    .main4,
    .main5,
    .main6,
    .main7 {
        margin: 30px 10px;
        padding: 10px 20px;
    }
    .main1 {
        margin-top: 100px;
}
   

    
}
